.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 160vh;
  margin-top: 5rem;
  margin-bottom: -2rem;
  overflow: hidden;
}
.swiper-wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.portfolio span:nth-of-type(1) {
  font-size: 2rem;
  font-weight: bold;
}
.portfolio span:nth-of-type(2) {
  color: var(--pink);
  font-size: 2.5rem;
  font-weight: bold;
}
.portfolio span:nth-of-type(3) {
  left: 2%;
  margin-bottom: -10rem;
  position: absolute;
  color: rgba(128, 128, 128, 0.493);
  font-size: 2.5rem;
  font-weight: bold;
}
.portfolio span:nth-of-type(4) {
  right: 2%;
  margin-bottom: -10rem;
  position: absolute;
  color: rgba(128, 128, 128, 0.493);
  font-size: 2.5rem;
  font-weight: bold;
}
.portfolio .swiper {
  overflow: visible !important;
  display: flex;
}
.portfolio-slider {
  display: flex;
  margin: 50px;
  margin-top: 5rem;
  width: 55rem;
}
.portfolio-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.portfolio .projs {
  display: flex;
  width: 70%;
  height: 30rem;
  justify-content: center;
}
@media screen and (max-width: 391px) {
  .portfolio {
    margin: 0;
    width: 100vw;
    height: 120vh;
    overflow: hidden;
    margin-bottom: 5rem;
  }
  .portfolio >:nth-child(1) {
    margin-left: -10rem;
  }
  .portfolio .swiper {
  transform: scale(0.7);
  }
}@media screen and (max-width: 376px) {
  .portfolio {
    height: 130vh;
  }

}