.about-me {
  display: flex;
  flex-direction: row;
  height: 140vh;
  padding: 2rem;
  overflow: hidden;
}
.a-blur1 {
  top: 52rem;
  right: 0rem;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -9;
}
.a-blur2 {
  border-radius: 50%;
  filter: blur(100px);
  z-index: -9;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.column {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  margin-bottom: 2rem;
}

.column > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.column > :nth-child(2) {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: bold;
}
.column > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}
.column > :nth-child(4) {
  margin: 2rem;
}
.column > ul {
  margin: 5rem 1rem 1rem 4rem;
  list-style: none;
  display: flex;
  height: 22rem;
  width: 15rem;
  padding: 1rem 1rem 1rem 1rem;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid var(--blue);
  transform: scale(1.2);
}

.column > ul > li {
  font-size: 14px;
  margin-top: 1rem;
}
.column > ul > li:nth-child(9) {
  font-size: 10px;
  margin-top: 1rem;
}
.a-button {
  margin-left: 3rem;
  width: 8rem;
  height: 2rem;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.cards * {
  position: relative;
}
.cards > :nth-child(1) {
}
